@import "tailwindcss";

:root {
  --nongton-red: #db0000;
  --nongton-black: #000000;
  --nongton-card: #141414;
  --nongton-gray: #b3b3b3;
  --nongton-white: #ffffff;
}

@theme inline {
  --color-nongton-red: var(--nongton-red);
  --color-nongton-black: var(--nongton-black);
  --color-nongton-card: var(--nongton-card);
  --color-nongton-gray: var(--nongton-gray);
  --color-nongton-white: var(--nongton-white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--nongton-black);
  color: var(--nongton-white);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
